<div style="width:600px; height:auto; overflow:hidden; float:left; margin-left:100px; margin-top:100px; display:inline;">
	<div style="width:598px; height:1px; overflow:hidden; float:left; margin-left:1px; display:inline; background:#fff;"></div>
	<div style="width:100%; height:auto; overflow:hidden; background:#fff; padding-bottom:25px;">
		<div style=" width:600px;font-family:微软雅黑; display:inline; margin-left:30px; margin-top:25px; float:left; color:#555; font-size:20px;">${nickname}，看看你的拒宅消息 :</div>
		<div style=" float:left; margin-left:35px; display:inline; font-size:14px; color:#999; margin-top:20px; width:500px;">
			#if($1)
				<div style=" float:left; width:100%; line-height:180%;">最近有<a href="http://www.51juzhai.com//home/interestMes/1" style="font-size:14px; font-weight:bold; color:#3E8BD9; text-decoration:underline; margin-left:5px; margin-right:5px;">${1}</a>个人对你感兴趣</div>
			#end
			#if($2)
				<div style=" float:left; width:100%; line-height:180%;">有<a href="http://www.51juzhai.com/home/datingMes/1" style="font-size:14px; font-weight:bold; color:#3E8BD9; text-decoration:underline; margin-left:5px; margin-right:5px;">${2}</a>个人想约你拒宅</div>
			#end
			#if($3)
				<div style=" float:left; width:100%; line-height:180%;">有<a href="http://www.51juzhai.com/home/datings/accept/1" style="font-size:14px; font-weight:bold; color:#3E8BD9; text-decoration:underline; margin-left:5px; margin-right:5px;">${3}</a>个人接受了你的拒宅邀约</div>
			#end
			#if($4)
				<div style=" float:left; width:100%; line-height:180%;">有<a href="http://www.51juzhai.com/notice/sysNotices" style="font-size:14px; font-weight:bold; color:#3E8BD9; text-decoration:underline; margin-left:5px; margin-right:5px;">${4}</a>个关于你的系统通知</div>
			#end
		</div>
		<div style=" float:left; margin-top:80px; line-height:180%; font-size:12px; color:#999; margin-left:35px; display:inline;">
			该邮件来自：拒宅网 ( <a href="http://www.51juzhai.com" style="color:#3E8BD9; text-decoration:none; ">51juzhai.com</a> ) ——助你找伴儿出去玩<br />
			我们只将与您相关的信息发送给您。如您需要可在此<a href="http://www.51juzhai.com/profile/email" style="color:#3E8BD9; text-decoration:none; margin-left:5px;">修改订阅设置>></a>
		</div>
	</div>
	<div style="width:598px; height:1px; overflow:hidden; float:left; margin-left:1px; display:inline; background:#fff;"></div>
</div>
