<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="1" android:versionName="1.1.0"
    package="com.juzhai.android" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="10"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application android:icon="@drawable/logo"
        android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".main.activity.MainTabActivity" android:screenOrientation="portrait"/>
        <activity android:name=".home.activity.ZhaobanActivity" android:screenOrientation="portrait"/>
        <activity android:name=".idea.activity.IdeaListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".dialog.activity.DialogListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".home.activity.HomeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".setting.activity.SettingListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".post.activity.PostDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".passport.activity.LoginActivity" android:screenOrientation="portrait"/>
        <!--created by kooks at 2012-09-12 17:24:53-->
        <activity android:name=".passport.activity.TpLoginActivity" android:screenOrientation="portrait"/>
        <!--created by kooks at 2012-09-12 22:47:44-->
        <activity android:name=".passport.activity.RegisterActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <!--created by kooks at 2012-09-14 14:06:05-->
        <activity android:name=".passport.activity.ForgotPwdActivity" android:screenOrientation="portrait"/>
        <!--created by kooks at 2012-09-16 12:44:44-->
        <activity android:name=".main.activity.LaunchActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--created by kooks at 2012-09-17 10:37:53-->
        <activity android:name=".core.activity.BaseActivity" android:screenOrientation="portrait"/>
        <!--created by kooks at 2012-09-19 20:43:54-->
        <activity android:name=".idea.activity.IdeaDetailActivity" android:screenOrientation="portrait"/>
        <!--created by kooks at 2012-09-20 22:11:12-->
        <activity android:name=".idea.activity.IdeaUsersActivity" android:screenOrientation="portrait"/>
        <!--created by kooks at 2012-09-24 22:58:05-->
        <activity
            android:name=".dialog.activity.DialogContentListActivity" android:screenOrientation="portrait"/>
        <!--created by kooks at 2012-09-25 17:34:29-->
        <activity android:name=".core.activity.UploadImageActivity"
            android:screenOrientation="portrait" android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".main.activity.GuidanceActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".passport.activity.AuthorizeBindActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".passport.activity.AuthorizeExpiredActivity" android:screenOrientation="portrait"/>
        <!--created by kooks at 2012-10-05 17:14:22-->
        <activity android:name=".home.activity.InterestActivity" android:screenOrientation="portrait"/>
        <!--created by kooks at 2012-10-05 17:26:58-->
        <activity android:name=".home.activity.InterestMeActivity" android:screenOrientation="portrait"/>
        <!--created by kooks at 2012-10-05 19:06:24-->
        <activity android:name=".home.activity.MyPostActivity" android:screenOrientation="portrait"/>
        <!--created by kooks at 2012-10-06 16:10:19-->
        <activity android:name=".home.activity.UserHomeActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".setting.activity.SettingProtocalActivity" android:screenOrientation="portrait"/>
        <!--created by kooks at 2012-10-09 21:50:42-->
        <activity android:name=".core.activity.PreviewActivity"
            android:screenOrientation="portrait" android:theme="@android:style/Theme.Dialog"/>
        <activity
            android:name=".setting.activity.SettingFeedbackActivity" android:screenOrientation="portrait"/>
        <!--created by kooks at 2012-10-11 10:51:56-->
        <activity android:name=".home.activity.HomeSettingActivity"/>
        <!--created by kooks at 2012-10-11 15:17:25-->
        <activity android:name=".home.activity.SetNicknameActivity"/>
        <!--created by kooks at 2012-10-11 17:00:42-->
        <activity android:name=".home.activity.SetAddressAcitvity" android:theme="@android:style/Theme.Dialog"/>
        <!--created by kooks at 2012-10-12 10:22:57-->
        <activity android:name=".home.activity.SetFeatureActivity"/>
        <!--created by kooks at 2012-10-12 12:26:18-->
        <activity android:name=".home.activity.SetProfessionActivity"/>
        <!--created by kooks at 2012-10-12 21:18:53-->
        <activity android:name=".main.activity.UserGuideActivity"/>
    </application>
</manifest>
