a,a:visited {
	color: #99E4FD;
}

body {
	background-color: #1A6F8B;
}

#UserPanel {
	background-image: url(/images/user/skin2/bg-diwen.jpg);
	color: #FFFFFF;
}

#UserPanel .user_titles h1 {
	color: #000000;
}

#UserPanel .user_titles h2 {
	color: #000000;
}

#UserPanel .user_titles h4 {
	
}

#NoStuff {
	border: 1px solid #DFDFDF;
	color: #7E7E7E;
}

#StuffList .image .image_img {
	background-color: #2F8DAC;
}

#StuffList .filter,#StuffFormPanel .icon {
	background-image: url(/images/user/skin2/i-stuff.gif);
}

#StuffList .text .text_title {
	color: #99E4FD;
}

#StuffFormPanel,#StuffList,#SiteFoot {
	color: #FFFFFF;
}

.stuff_form {
	border: 1px solid #E9E9E9;
	background-color: #2F8DAC;
	color: #FFFFFF;
}

.stuff_form .title {
	color: #99E4FD;
}

.stuff_form .input {
	border: 1px solid #7E7E7E;
}