<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.easylife.weather" android:versionCode="5" android:versionName="1.1.2">
  <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="10"/>
  	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
	<uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
	<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_SETTINGS"></uses-permission> 
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" /> 
	
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <application android:icon="@drawable/logo"
    android:name=".core.ApplicationContext"
    android:label="@string/app_name"
    android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
    <activity android:name=".main.activity.LaunchActivity" android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <meta-data android:value="${umeng-key}" android:name="UMENG_APPKEY"></meta-data> 
    <!-- test <meta-data android:value="517b77ca527015938d000005" android:name="UMENG_APPKEY"></meta-data>-->
	<meta-data android:value="${umeng-channel}" android:name="UMENG_CHANNEL"/>
    <activity android:name=".core.activity.BaseActivity" android:screenOrientation="portrait"/>
    <activity android:name=".main.activity.MainActivity" android:screenOrientation="portrait"  android:launchMode="singleInstance" />
    <activity android:name=".main.activity.CityActivity" android:screenOrientation="portrait"/>
    <activity android:name=".main.activity.PeelsActivity" android:screenOrientation="portrait"/>
    <activity android:name=".wxapi.WXEntryActivity" android:exported="true"/>
    <service
    android:name="com.umeng.common.net.DownloadingService"
    android:exported="true"
    android:process=":DownloadingService" >
	</service>
    <service android:name="com.baidu.location.f" android:enabled="true"
			android:process=":remote">
	</service>
      <receiver
            android:name=".AppRegister"
            android:permission="com.tencent.mm.plugin.permission.SEND" >
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>
        
      <receiver android:name=".common.receiver.AlarmReceiver" android:process=":remote" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.alarm.weather.action"/>
            </intent-filter>
      </receiver>
      
      <!-- 91 -->
     	<activity android:name="com.easy.activity.easyOfferAppActivity"
				  android:configChanges="keyboardHidden|orientation"
				  android:launchMode="singleTask"
				  
		/>
		 <activity android:name="com.easy.activity.easyDownloadManagerActivity"
				  android:configChanges="keyboardHidden|orientation"
				  android:launchMode="singleTop"
		/>
	
		<activity android:name="com.easy.activity.easyDetailActivity"
				  android:configChanges="keyboardHidden|orientation"
				  android:launchMode="singleTop"
				  android:theme="@android:style/Theme.Black.NoTitleBar"	
		/>
		
       <service android:name="com.easy.appdownload.easyDownloadService">
            <intent-filter>
                <action android:name="com.easylife.weather" />
                <!-- action中的android:name请输入应用的包名 -->
            </intent-filter>
       </service>
        
	   <service android:name="com.easy.service.easyPackageChangedService"></service>
  </application>

</manifest>

