<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css">
<!--
/* reset */
body{ font-family:"宋体"; font-size:12px; line-height:150%; padding: 0; margin: 0; background:#4991DB; }
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,   
form,fieldset,input,textarea,p,blockquote,th,td {   
    padding: 0;   
    margin: 0;   
}   
table {   
    border-collapse: collapse;   
    border-spacing: 0;   
}   
fieldset,img {   
    border: 0;   
}   
address,caption,cite,code,dfn,em,strong,th,var {   
    font-weight: normal;   
    font-style: normal;   
}   
ol,ul {   
    list-style: none;   
}   
caption,th {   
    text-align: left;   
}   
h1,h2,h3,h4,h5,h6 {   
    font-weight: normal;   
    font-size: 100%;   
}   
q:before,q:after {    
    content:'';   
}   
abbr,acronym { border: 0;   
} 
.clear{ clear:both;}
.fl{ float:left; _display:inline;}
.fr{ float:right; _display:inline;}





.main{ width:700px; height:auto; overflow:hidden; margin:0 auto; margin-top:50px;}
.main_t,.main_b{ width:698px; height:1px; overflow:hidden; background:#fff; margin-left:1px; float:left; display:inline;}
.main_m{ width:620px; height:auto; overflow:hidden; background:#fff; float:left; padding:40px;}


.main_m .user p{ float:left; color:#666; font-size:16px; font-family:"微软雅黑","宋体"; width:620px;}
.main_m .user span{ float:left; float:left; color:#666; font-size:14px; margin-top:15px; width:620px;}
.main_m .message{ width:620px; height:30px; overflow:hidden; margin-top:30px; float:left;}
.main_m .message em{ width:1px; height:28px; background:#F8E69E; float:left; margin-top:1px; overflow:hidden;}
.main_m .message p{ width:618px; height:30px; background:#F8E69E; float:left; text-align:center; color:#666; line-height:30px;}
.main_m .message p span{ color:#4286D7; margin:auto 5px; font-weight:bold;}


.message_list{ width:620px; height:auto; overflow:hidden; float:left; margin-top:6px;}
.message_list .item{ width:590px; height:80px; background:#FAFAFA; padding:15px; float:left; margin-top:1px; position:relative;}
.message_list .line{ width:620px; height:1px; background:#F5F5F5; overflow:hidden; float:left; margin-top:1px;}
.item .photo{ width:80px; height:80px; overflow:hidden; float:left; margin-right:15px; display:inline;}
.item h2{ float:left; font-size:14px; font-weight:bold; margin-top:15px; padding-bottom:15px; width:80%; }
.item h2 span{color:#336AAE; float:left;}
.item h2 p{ color:#666; float:left; margin-left:10px; display:inline;}
.item h2 b{ color:#333; float:left; margin-left:10px; display:inline;}

.item em{ float:left; color:#999; white-space:nowrap;} 
.item a{ float:left; color:#336AAE; margin-left:20px; display:inline; text-decoration:none;}
.item a:hover{ text-decoration:underline;}


.item strong{ position:absolute; right:15px; top:10px; color:#ccc; font-family:Tahoma; font-size:11px;}

.more{ width:620px; float:left; margin-top:5px; _margin-top:-10px;}
.more a{ float:right; color:#336AAE;  margin-right:5px; display:inline; text-decoration:none;}
.more a:hover{text-decoration:underline;}






.main_m .hot{ width:620px; height:30px; overflow:hidden; margin-top:30px; float:left;}
.main_m .hot em{ width:1px; height:28px; background:#C8DEF4; float:left; margin-top:1px; overflow:hidden;}
.main_m .hot p{ width:618px; height:30px; background:#C8DEF4; float:left; text-align:center; color:#666; line-height:30px; font-size:14px;}


.ph{ width:180px; height:auto; overflow:hidden; margin-top:5px;}
.ph h2{ color:#999; font-weight:bold; padding-top:10px; padding-bottom:5px;}
.ph ul{ float:left;}
.ph ul li{ width:180px; height:30px; float:left; margin-top:5px; overflow:hidden; white-space:nowrap;}
.ph .num{ width:30px; height:30px; float:left; }
.ph .num p{ width:28px; height:30px; float:left; text-align:center; line-height:30px; font-family:Arial; font-size:10px;} 
.ph .num span{ width:1px; height:28px; overflow:hidden; float:left; margin-top:1px;}
.ph .ph_item{ float:left; margin-left:5px; }
.ph .ph_item a{ width:143px; height:30px; float:left; text-align:center; line-height:30px; text-decoration:none;} 
.ph .ph_item span{ width:1px; height:28px; overflow:hidden;  float:left; margin-top:1px;}


.man{margin-left:1px; display:inline;  float:left}
.man .num p{ background:#C8DEF4; color:#4991DB;}
.man .num span{ background:#C8DEF4;}
.man .ph_item a{ background:#C8DEF4; color:#4991DB;}
.man .ph_item span{ background:#C8DEF4;}


.woman{  float:left; margin-left:39px; display:inline;}
.woman .num p{ background:#FFD1D1; color:#FF6699;}
.woman .num span{ background:#FFD1D1;}
.woman .ph_item a{ background:#FFD1D1; color:#FF6699;}
.woman .ph_item span{ background:#FFD1D1;}

.remen { float:right; margin-right:1px;}
.remen .num p{ background:#FFD1B2; color:#CC6600;}
.remen .num span{ background:#FFD1B2;}
.remen .ph_item a{ background:#FFD1B2; color:#CC6600;}
.remen .ph_item span{ background:#FFD1B2;}


.copy{ margin:0 auto; margin-top:10px; width:700px; height:auto; overflow:hidden; padding-bottom:10px;}
.copy a.left{ color:#DBE9F8; float:left; margin-left:10px; display:inline; font-size:14px; text-decoration:none;}
.copy a.left:hover{ text-decoration:underline;}
.copy a.right{ color:#CCC; float:right; margin-right:10px; display:inline;text-decoration:none; font-family:Arial;}


-->
</style>
</head>

<body>
	<div class="main"><!--main begin-->
		<div class="main_t"></div>
		<div class="main_m"><!--main_m begin-->
			<div class="user"><p>HI,骑着上帝去流浪！</p></div>
			<div class="message"><em></em><p>你有<span>3</span>条拒宅消息</p><em></em></div>
			<div class="message_list"><!--message_list begin-->
				<div class="item"><!--item begin-->
					<div class="photo"><img src="pic.png" width="80" height="80"/></div>
					<h2><span>其实不想走</span><p>想和你去...</p></h2>
					<em>他在上海 浦东</em><a href="#">立即查看 >></a>
					<strong>2011-12-25 18:00</strong>
				</div><!--item end-->
				<div class="line"></div>
				<div class="item"><!--item begin-->
					<div class="photo"><img src="pic.png" width="80" height="80"/></div>
					<h2><span>其实不想走</span><p>想和你去...</p></h2>
					<em>他在上海 浦东</em><a href="#">立即查看 >></a>
					<strong>2011-12-25 18:00</strong>
				</div><!--item end-->
				<div class="line"></div>
				<div class="item"><!--item begin-->
					<div class="photo"><img src="pic.png" width="80" height="80"/></div>
					<h2><span>其实不想走</span><p>想和你去...</p></h2>
					<em>他在上海 浦东</em><a href="#">立即查看 >></a>
					<strong>2011-12-25 18:00</strong>
				</div><!--item end-->
			</div><!--message_list end-->
			<div class="more"><a href="#">>> 查看更多</a></div>
		</div><!--main_m end-->
		<div class="main_b"></div>
	</div><!--main over-->
	<div class="copy">
		<a href="#" class="left">不再接收拒宅消息</a>
		<a href="#" class="right">51juzhai.com</a>
	</div>
</body>
</html>
