/* reset */
body{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; line-height:150%; padding: 0; margin: 0; background:url(../images/web2/web_bg.jpg) repeat; background:#A2CDF7; height:100%;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,   
form,fieldset,input,textarea,p,blockquote,th,td {   
    padding: 0;   
    margin: 0;   
}   
table {   
    border-collapse: collapse;   
    border-spacing: 0;   
}   
fieldset,img {   
    border: 0;   
}   
address,caption,cite,code,dfn,em,strong,th,var {   
    font-weight: normal;   
    font-style: normal;   
}   
ol,ul {   
    list-style: none;   
}   
caption,th {   
    text-align: left;   
}   
h1,h2,h3,h4,h5,h6 {   
    font-weight: normal;   
    font-size: 100%;   
}   
q:before,q:after {    
    content:'';   
}   
abbr,acronym { border: 0;   
} 
.clear{ clear:both;}
.fl{ float:left; _display:inline;}
.fr{ float:right; _display:inline;}


a{text-decoration:none;}



.line{ width:100%; background:#EAEAEA; height:1px; overflow:hidden; float:left;}
.index{display:inline; margin-right:20px; margin-top:20px; padding-bottom:20px;}
.page{ float:right;  font-size:11px; font-family:Arial, Helvetica, sans-serif;}
.page a{ font-weight:bold; color:#666; margin-left:5px;   text-decoration:none; *cursor:pointer; float:left; display:block inline;}
.page .pre strong{ font-family:"宋体"; font-size:12px; line-height:20px; line-height:22px\9;}
.page .nex strong{ font-family:"宋体"; font-size:12px; line-height:20px; line-height:22px\9;}
.page p{ width:5px; height:20px; overflow:hidden; float:left;}
.page strong{ float:left; height:20px; padding-left:2px; padding-right:3px; line-height:20px; line-height:20px\9; overflow:hidden;}

.page .link .l{ background:url(../images/web2/page_menu_link_r1_c1.gif) no-repeat ;}
.page .link .r{ background:url(../images/web2/page_menu_link_r1_c5.gif) no-repeat ;}
.page .link .c{ background:url(../images/web2/page_menu_link_r1_c3.gif) repeat-x ;}

.index .link .l{ background:#ccc; height:18px; margin-top:1px; width:1px;}
.index .link .r{ background:#ccc; height:18px; margin-top:1px; width:1px;}
.index .link .c{ background:#ccc; padding-left:6px; padding-right:6px; color:#222;}
.index .link {filter:alpha(opacity=50);opacity:0.5; -moz-opacity:0.5; -khtml-opacity:0.5;}


.page .hover .l{ background:url(../images/web2/page_menu_hover_r1_c1.gif) no-repeat;}
.page .hover .r{ background:url(../images/web2/page_menu_hover_r1_c5.gif) no-repeat;}
.page .hover .c{ background:url(../images/web2/page_menu_hover_r1_c3.gif) repeat-x; color:#fff;}

.page .active .l{ background:url(../images/web2/page_menu_active_r1_c1.gif) no-repeat;}
.page .active .r{ background:url(../images/web2/page_menu_active_r1_c5.gif) no-repeat;}
.page .active .c{ background:url(../images/web2/page_menu_active_r1_c3.gif) repeat-x; color:#fff; font-weight:bold;}










/*主体*/
.warp{ width:100%; height:auto; display:block; background:url(../images/web2/top_bg.jpg) repeat-x;} 
.main{ width:960px;_width:100%; height:auto;  margin:0 auto; overflow:hidden; }


/*头部*/
.main .fix_top{ width:100%; position:fixed; left:0px; top:0px; height:50px; z-index:999; background:url(../images/web2/top_bg.jpg) repeat-x;
_position:absolute;
_bottom:auto;
_left:expression(eval(document.documentElement.scrollLeft));_top:expression(eval(document.documentElement.scrollTop));

 }
 
.main .top{ width:960px; height:50px; display:block; margin:0 auto;}



.top h1{ float:left; margin-left:17px; margin-top:11px; display:inline; width:105px; height:30px; overflow:hidden; background:url(../images/web2/logo.jpg) no-repeat;}
.top h1 a{ display:block; width:100%; height:100%; overflow:hidden;}
.top .area{ float:left; margin-left:5px; display:inline; margin-top:12px; position:relative;}
.area p{ }
.area p a{color:#ccc; text-decoration:none; float:left;  display:block;  height:24px; padding-top:6px; padding-left:8px; padding-right:20px; position:relative; z-index:1999; background:url(../images/web2/arrow_down1.gif) no-repeat right;}


.area_list{position:absolute; left:0px; top:30px; width:200px; height:auto; border:1px solid #202020; overflow:hidden;  background:#4C4C4C; white-space:nowrap;}

.area .area_list a{ overflow:hidden; color:#e5e5e5; font-size:14px; text-align:center; line-height:40px; text-decoration:none; width:50px; white-space:nowrap; position:relative; z-index:999; height:40px; float:left;white-space:nowrap;}
.area .area_list a:hover{background:#448EDA; color:#fff; }

.area .area_list p a{color:#ccc; text-decoration:none; float:left; display:block; height:24px; padding-top:7px; padding-left:9px;padding-right:15px;}
.area .area_list p a:hover{ background:#4C4C4C;  height:24px;  padding-top:6px; padding-left:8px; border:1px solid #202020; }
.area .hover a{ color:#ccc; text-decoration:none; float:left;  border:1px solid #202020; display:block;  height:24px; padding-top:6px; padding-left:8px; padding-right:20px; border-bottom:none; position:relative; z-index:1999; background:url(../images/web2/arrow_down1.gif) no-repeat right #4C4C4C;}
.area p.hover a:hover{ border-bottom:none;}





.top .menu{ float:left; margin-left:50px; height:50px; line-height:50px;}
.menu a{ padding-left:20px; padding-right:17px; color:#999; text-decoration:none; font-weight:bold; font-size:14px; display:block inline; float:left; margin-right:1px;}
.menu a:hover{ color:#fff; background:url(../images/web2/menu_hover_bg.jpg) repeat-x;}


.menu a.selected{color:#fff; background:url(../images/web2/menu_hover_bg.jpg) repeat-x; cursor:default;}


.top .acc{ float:right; margin-right:10px; display:inline; margin-top:11px; position:relative; z-index:999;}

.top .acc p a{color:#ccc; text-decoration:none; float:left; display:block; width:41px; height:24px; padding-top:7px; padding-left:9px; background:url(../images/web2/arrow_down.gif) no-repeat 34px 13px; }
.top .acc p a:hover{ background:url(../images/web2/arrow_down.gif) no-repeat 33px 12px #4C4C4C;  width:40px; height:24px;  padding-top:6px; padding-left:8px; border:1px solid #202020; }

.top .acc .hover a{ color:#ccc; text-decoration:none; float:left;  background:url(../images/web2/arrow_down.gif) no-repeat 33px 12px #4C4C4C; border:1px solid #202020; display:block; width:40px; height:24px; padding-top:6px; padding-left:8px; border-bottom:none; position:relative; z-index:1999;}
.top .acc p.hover a:hover{ border-bottom:none;}

.acc .acc_list{position:absolute;  right:0px; top:30px; width:88px; height:auto; border:1px solid #202020; overflow:hidden; display:block; background:#4C4C4C; }

.acc .acc_list a{ height:30px; display:block; overflow:hidden;  line-height:30px; text-align:center; color:#ccc; text-decoration:none; position:relative; z-index:999; }
.acc .acc_list a:hover{ background:#448EDA; color:#fff; }




.top .my_message{ float:right; margin-right:1px;  display:inline; margin-top:11px; position:relative;}
.top .my_message p a{color:#ccc; text-decoration:none; float:left; display:block; width:41px; height:24px; padding-top:7px; padding-left:9px; background:url(../images/web2/arrow_down.gif) no-repeat 34px 13px;  }
.top .my_message p a:hover{ background:url(../images/web2/arrow_down.gif) no-repeat 33px 12px #4C4C4C;  width:40px; height:24px;  padding-top:6px; padding-left:8px; border:1px solid #202020; }


.top .my_message .hover a{ color:#ccc; text-decoration:none; float:left;  background:url(../images/web2/arrow_down.gif) no-repeat 33px 12px #4C4C4C; border:1px solid #202020; display:block; width:40px; height:24px; padding-top:6px; padding-left:8px; border-bottom:none; position:relative; z-index:1999;}
.top .my_message p.hover a:hover{ border-bottom:none;}

.top .my_message_show{position:absolute;  right:0px; top:30px; width:148px; height:auto; border:1px solid #202020; overflow:hidden; display:block; background:#4C4C4C;}
.top .my_message_show span{ float:left; position:relative; display:block; width:148px;}
.top .my_message_show a{ height:30px; display:block; overflow:hidden;  line-height:30px;  padding-left:12px; padding-right:17px;  color:#ccc; text-decoration:none; position:relative; z-index:999;}
.top .my_message_show em{ position:absolute; right:10px; top:5px; color:#ccc; z-index:999; font-family:Arial, Helvetica, sans-serif; font-size:10px; font-weight:bold;}

.top .my_message_show a:hover{background:#448EDA; color:#fff; }







.top .user_area{float:right; margin-right:10px; display:inline; margin-top:18px; position:relative;}
.user_area .unlogin{}
.user_area .unlogin a{ color:#666; text-decoration:none;}
.user_area .unlogin a:hover{ color:#999;}



.user_area .login{ float:left;}

.user_area .login .user_box p{ width:20px; height:20px; float:left; border:1px solid #000; margin-top:-3px; _z-index:999; _position:relative;}
.user_area .login .user_box a{ float:left; margin-left:15px; display:inline; color:#666; text-decoration:none;}
.user_area .login .user_box a:hover{ color:#999;}

.user_area .login .user_box a.user{ color:#fff; text-decoration:none; margin-left:8px;}
.user_area .login .user_box a.boy:hover{ color:#3E8BD9;}
.user_area .login .user_box a.girl:hover{ color:#FF6699;}



.user_area .login .user_message{ position:absolute; left:0px; top:32px; width:148px; height:auto; overflow:hidden; display:block; background:#4C4C4C;  padding:10px 15px; z-index:1;border:1px solid #202020; } 

.user_area .login .user_message p{ color:#e5e5e5;  line-height:200%; float:left; display:block; }
.user_area .login .user_message p a{ color:#3E8BD9; margin-left:3px; margin-right:3px; text-decoration:none;} 
.user_area .login .user_message p a:hover{ text-decoration:underline;}









.top .search{float:right; margin-right:15px; display:inline; margin-top:11px; position:relative;}
.search .s_l{ background:url(../images/web2/search2_r1_c1.jpg) no-repeat; width:5px; height:28px; float:left; overflow:hidden;}
.search .s_m{ background:url(../images/web2/search2_r1_c2.jpg) no-repeat; width:157px; height:28px; float:left; overflow:hidden;}
.search .s_r{ background:url(../images/web2/search2_r1_c3.jpg) no-repeat; width:30px; height:28px; float:left; overflow:hidden;}

.search .s_m input{ width:147px; border:0px; line-height:28px; color:#666; background:none; height:28px; font-size:12px; float:left; margin-left:3px; display:inline;}
.search .s_r a{ display:block; width:30px; height:28px;}

.search .xl_menu{ position:absolute; left:0px; top:28px; width:190px; height:auto; overflow:hidden; display:block; background:#4C4C4C; border:1px solid #202020;}

.search .xl_menu a{height:30px; display:block; overflow:hidden;  line-height:30px;  padding-left:20px; padding-right:17px; color:#ccc; text-decoration:none; position:relative; z-index:999;}

.search .xl_menu a:hover{ background:#448EDA; color:#fff; }





/*底部*/

.bottom{ width:100%; height:auto; display:block;  text-align:center; margin-top:37px; background:#282828; padding-top:20px;}
.bottom .link{ color:#8C8C8C; margin-top:10px; float:left; width:100%; margin-top:10px; padding-bottom:30px;}
.bottom a{ margin-left:10px; margin-right:10px; color:#8C8C8C; text-decoration:none;}
.bottom a:hover{ color:#3E8BD9; text-decoration:underline;}

.bottom p{text-align:center; padding-bottom:20px; color:#666; line-height:200%;}


/*回到顶部*/
.back_top{ width:50px; height:50px; position:fixed; bottom:30px; right:30px; overflow:hidden; z-index:1999;

_position:absolute;
_bottom:auto;
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))); _margin-bottom:30px;
}
.back_top p{ width:48px; height:1px; margin-left:1px; float:left; background:#7F7F7F; overflow:hidden; display:inline;}
.back_top span{ width:50px; height:48px;  float:left; background:#7F7F7F;}
.back_top a{ width:50px; height:48px; display:block; background:url(../images/web2/back_top_link.gif) no-repeat; color:#fff; position:relative; z-index:999;}
.back_top a:hover{background:url(../images/web2/back_top_hover.gif) no-repeat;}


/*悬浮提示*/

*html{background-image:url(about:blank);background-attachment:fixed;}
.float_box{ width:100%; height:90px; position:fixed; bottom:0px; left:0px; z-index:1000;
_position:absolute;
_bottom:auto;
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
float:left;
filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity: 0.9;opacity: 0.9;
_filter:none;
}
.float_box .width960{ width:960px; height:auto; overflow:hidden; margin:0 auto; }

.float_box p{ height:1px; margin-left:1px; margin-right:1px; overflow:hidden; background:#4C4C4C; }
.float_box .con{ width:100%; height:89px; background:#4C4C4C;}
.float_box .con .close{ float:right; margin-right:10px; margin-top:9px; display:inline;}
.float_box .con .close a{ background:url(../images/web2/dy_close_btn.gif) no-repeat; width:12px; height:12px; display:block; }

.float_box .con .box_con{ width:750px; height:auto; overflow:hidden; margin:0 auto; padding-top:30px;}
.box_con span{font-family:"微软雅黑","宋体"; font-size:20px; color:#fff; float:left; margin-top:5px; margin-right:20px; display:inline; _line-height:normal; _margin-top:0px;}
.box_con .dy_area{ float:left;}
.box_con .dy_area em{ background:url(../images/web2/input_bg_float_box.gif) no-repeat; width:230px; height:30px; float:left;  margin-right:8px; display:inline;}
.box_con .dy_area em input{ width:210px; padding-left:10px; padding-right:10px; color:#000; height:30px; line-height:30px; border:none;  font-family:Arial, Helvetica, sans-serif; background:url(../images/web2/input_bg_float_box.gif) no-repeat; font-weight:bold;}

.box_con .dy_area a{ background:url(../images/web2/dy_btn.gif) no-repeat; width:110px; height:30px; float:left; text-decoration:none; text-align:center; color:#333; font-size:14px; font-weight:bold; line-height:30px;display:block;} 

.float_box .con .box_con2{ width:560px; height:auto; overflow:hidden; margin:0 auto; padding-top:30px; position:relative; z-index:1999;}
.box_con2 span{font-family:"微软雅黑","宋体"; font-size:20px; color:#fff; float:left; margin-top:8px; margin-right:20px; display:inline; _line-height:normal; _margin-top:3px;}
.box_con2 .wb_logon_btn{ float:right;}
.box_con2 .wb_logon_btn a{ background:url(../images/web2/web2_btn_login.gif) no-repeat; width:179px; height:36px; display:block;}

/*挂牌*/



.float_box .gp{ width:860px; height:auto; overflow:hidden; margin:0 auto; font-family:"微软雅黑","宋体"; padding-top:20px;}

.float_box .gp .title{ float:left; color:#fff; font-size:18px; margin-top:15px; margin-left:5px; display:inline;}

.float_box .gp .week_day{ float:left; margin-left:15px; display:inline;}
.float_box .gp .week_day a{ background:url(../images/web2/week_day_link.gif) no-repeat; width:70px; height:50px; display:block inline; float:left; margin-left:1px; margin-right:1px; color:#333; font-size:14px; font-weight:bold; line-height:50px; text-align:center; text-decoration:none;}
.float_box .gp .week_day a:hover{ background:url(../images/web2/week_day_hover.gif) no-repeat; color:#fff;}
.float_box .gp .week_day a.active{background:url(../images/web2/week_day_active.gif) no-repeat; color:#fff; }
.float_box .gp .week_day a.active:hover{background:url(../images/web2/week_day_active.gif) no-repeat; color:#fff; cursor:pointer;}
.float_box .gp .week_day a.today{ line-height:120%; padding-top:8px; height:42px;}

.float_box .gp .ok_btn{display:inline; float:left; margin-left:15px; }
.float_box .gp .ok_btn a{ background:url(../images/web2/ok_btn.gif) no-repeat; width:120px; height:50px; text-align:center; line-height:50px; display:block;color:#fff; text-decoration:none; font-size:16px; font-weight:bold;}







.main_part{ width:960px; height:auto; display:block; margin:0 auto;  margin-top:70px; *padding-top:70px;}
.main_part .main_left{ width:660px; height:auto; overflow:hidden; float:left; }
.main_part .main_right{width:285px; height:auto; overflow:hidden; float:right;}


.content{ width:100%; height:auto; display:block; margin-top:15px; float:left;}
.content .t{ float:left; margin-left:1px; display:inline; height:1px; overflow:hidden; background:#f7f7f7; }
.w660 .t{ width:658px;}
.content .m{ float:left;  height:auto;  background:#f7f7f7; display:block; width:100%;}
.w285 .m{ background:#fff;}
.w285 .t{ width:283px; background:#fff;}
.z900{ position:relative; z-index:900;}
.z800{ position:relative; z-index:800;}




.send_box{ width:620px; height:140px; float:left; margin-top:20px; margin-left:20px;  display:inline;}
.send_box .face{ float:left; width:120px; height:120px; overflow:hidden;}
.send_box .send_area{ float:right; width:480px; height:120px; }

.send_box .send_area .send_box_error{float:left; margin-top:6px; color:#FF0000;}



.send_box .send_area .select_menu{ width:130px; height:28px; float:left; position:relative; z-index:100; margin-right:10px;}
.send_box .send_area .select_menu p{ float:left;}
.send_box .send_area .select_menu p a{ width:120px; height:28px; display:block; background:url(../images/web2/select_list_head1.gif) no-repeat; line-height:28px; line-height:30px\9; color:#666; padding-left:12px; text-decoration:none;}
.send_box .send_area .select_menu p a:hover{ background:url(../images/web2/select_list_head_hover1.gif) no-repeat;}
.send_box .send_area .select_active p a{ background:url(../images/web2/select_list_head_active1.gif) no-repeat;}
.send_box .send_area .select_active p a:hover{background:url(../images/web2/select_list_head_active1.gif) no-repeat;}

.send_box .send_area .select_menu .select_box{ display:none; position:absolute;top:28px; left:0;  }
.send_box .send_area .select_menu span{ background:url(../images/web2/select_list_span_bg1.gif) repeat-y; padding:4px 5px; float:left; width:120px; height:auto; overflow:hidden;  }
.send_box .send_area .select_menu span a{ width:115px; height:26px; overflow:hidden; display:block;line-height:28px; line-height:30px\9; color:#666;text-decoration:none; padding-left:7px;}
.send_box .send_area .select_menu span a:hover{background:url(../images/web2/select_list_span_a1.gif) no-repeat;}
.send_box .send_area .select_menu span a.selected{background:url(../images/web2/select_list_span_a_active1.gif) no-repeat; color:#fff;}
.send_box .send_area .select_menu span a.selected:hover{background:url(../images/web2/select_list_span_a_active1.gif) no-repeat; color:#fff;}
.send_box .send_area .select_menu em{ background:url(../images/web2/select_list_span_bottom1.gif) no-repeat; width:130px; overflow:hidden; height:1px; float:left; display:black;}
.send_box .send_area .select_active .select_box{ display:block;}
.send_box .send_area .select_active em{ display:block;}








.send_box .send_area .random_select{ float:right; margin-top:5px;}
.send_box .send_area .random_select a{ background:url(../images/web2/icon_link_r1_c9.jpg) no-repeat; width:16px; height:16px; padding-left:20px; color:#999; }
.send_box .send_area .random_select a:hover{ background:url(../images/web2/icon_hover_r1_c9.jpg) no-repeat; color:#3E8BD9;}

.send_box .send_area .textarea{ background:url(../images/web2/text_area_bg.jpg) no-repeat; width:480px; height:55px; overflow:hidden; margin-top:7px; float:left; _margin-top:5px;}
.send_box .send_area .textarea textarea{ border:none; background:none; width:460px; float:left; margin-left:10px; margin-top:10px; display:inline; height:35px; color:#ccc; font-size:12px; overflow:hidden;}

.send_box .send_area .jh{ float:left; position:relative; margin-top:10px;}




.send_box .send_area .jh .menu_item{ position:relative; float:left; z-index:55;}

.send_box .send_area .jh p{ float:left; width:28px;   width:58px; height:20px; padding-top:4px; padding-left:1px; padding-right:1px; padding-bottom:1px; position:relative; z-index:30; border-bottom:none; }

.send_box .send_area .jh p a{  height:18px; padding-left:20px; float:left; color:#999; display:block inline; white-space:nowrap; line-height:180%\9; margin-left:7px;}
.send_box .send_area .jh p a:hover{ color:#3E8BD9;}

.send_box .send_area .jh p a.time{background:url(../images/web2/icon_link_r5_c1.jpg) no-repeat;}
.send_box .send_area .jh p a.adress{ background:url(../images/web2/icon_link_r5_c3.jpg) no-repeat;}
.send_box .send_area .jh p a.photo{ background:url(../images/web2/icon_link_r6_c5.jpg) no-repeat;}
.send_box .send_area .jh p a.link{ background:url(../images/web2/icon_link_r6_c7.jpg) no-repeat;}

.send_box .send_area .jh p a.time:hover{ background:url(../images/web2/icon_hover_r5_c1.jpg) no-repeat;}
.send_box .send_area .jh p a.adress:hover{ background:url(../images/web2/icon_hover_r5_c3.jpg) no-repeat;}
.send_box .send_area .jh p a.photo:hover{ background:url(../images/web2/icon_hover_r6_c5.jpg) no-repeat;}
.send_box .send_area .jh p a.link:hover{ background:url(../images/web2/icon_hover_r6_c7.jpg) no-repeat;}

.send_box .send_area .jh .active a.time{ background:url(../images/web2/icon_active_r1_c1.jpg) no-repeat; cursor:default;}
.send_box .send_area .jh .active a.adress{ background:url(../images/web2/icon_active_r1_c3.jpg) no-repeat; cursor:default;}
.send_box .send_area .jh .active a.photo{ background:url(../images/web2/icon_active_r2_c5.jpg) no-repeat; cursor:default;}
.send_box .send_area .jh .active a.link{ background:url(../images/web2/icon_active_r2_c7.jpg) no-repeat; cursor:default;}

.send_box .send_area .jh .active a.time:hover{ background:url(../images/web2/icon_active_r1_c1.jpg) no-repeat; cursor:default; color:#999;}
.send_box .send_area .jh .active a.adress:hover{ background:url(../images/web2/icon_active_r1_c3.jpg) no-repeat; cursor:default; color:#999;}
.send_box .send_area .jh .active a.photo:hover{ background:url(../images/web2/icon_active_r2_c5.jpg) no-repeat; cursor:default; color:#999;}
.send_box .send_area .jh .active a.link:hover{ background:url(../images/web2/icon_active_r2_c7.jpg) no-repeat; cursor:default; color:#999;}



.send_box .send_area .jh .active p{ background:#fff; border:1px solid #E4E4E4; border-bottom:none; z-index:200;padding-top:4px; padding-left:0px; padding-right:0px; padding-bottom:1px;}


.send_box .send_area .jh .done a{color:#3E8BD9;}

.send_box .send_area .jh .done p a.time{ background:url(../images/web2/icon_hover_r5_c1.jpg) no-repeat;}
.send_box .send_area .jh .done p a.adress{ background:url(../images/web2/icon_hover_r5_c3.jpg) no-repeat;}
.send_box .send_area .jh .done p a.photo{ background:url(../images/web2/icon_hover_r6_c5.jpg) no-repeat;}
.send_box .send_area .jh .done p a.link{ background:url(../images/web2/icon_hover_r6_c7.jpg) no-repeat;}








.send_box .send_area .jh .show_area{ position:absolute; z-index:50; background:#fff; border:1px solid #E4E4E4; left:0px; top:25px; height:auto; display:none; padding-bottom:10px;}



.show_area .area_title{ float:left;width:210px;  margin-left:10px; display:inline;  margin-top:10px;}
.show_area .area_title h5{ float:left; color:#666;}
.show_area .area_title a{ float:right; background:url(../images/web2/close_btn1.gif) no-repeat; width:13px; height:13px; overflow:hidden;  display:block;}

.show_area .close{ float:right; margin-top:10px; display:inline; margin-right:10px; float:left;}
.show_area .close a{ background:url(../images/web2/close_btn1.gif) no-repeat; width:13px; height:13px; overflow:hidden; display:block;}




.w230{ width:230px;}
.w280{ width:280px;}
.send_box .send_area .jh .active .show_area{display:block;}
.send_box .send_area .btn{ float:right; margin-top:8px;}
.send_box .send_area .btn a{ background:url(../images/web2/send_btn.gif) no-repeat; width:80px; height:30px; overflow:hidden; display:block; color:#fff; text-align:center; font-size:14px; line-height:30px; line-height:32px\9;}
.send_box .send_area .sending{ float:right; margin-top:8px;}
.send_box .send_area .sending a{background:url(../images/web2/sending_btn.gif) no-repeat; width:50px; height:30px; overflow:hidden; display:block; color:#999;font-size:14px; line-height:30px; line-height:32px\9; padding-left:30px; cursor:default;}








.send_box .send_area .tb{ float:right; margin-right:10px; margin-top:13px; display:inline; cursor:pointer;}
.send_box .send_area .tb span{ background:url(../images/web2/tb_link.jpg) no-repeat; width:13px; height:13px; overflow:hidden; float:left; margin-top:4px; margin-top:5px\0;}
.send_box .send_area .tb p{ float:left; color:#ccc; margin-left:5px; display:inline; margin-top:1px; margin-top:3px\0; *margin-top:2px;}
.send_box .send_area .tb em{ background:url(../images/web2/weibo_link.jpg) no-repeat; width:20px; height:20px; float:left; margin-left:5px;}

.send_box .send_area .tb_click span{background:url(../images/web2/tb_active.jpg) no-repeat;}

.send_box .send_area .tb_click em{ background:url(../images/web2/weibo_active.jpg) no-repeat;}




.input{ float:left; margin-left:10px; margin-top:10px; display:inline; }
.input em{ width:5px; height:25px; overflow:hidden; float:left;}
.input em.l{ background:url(../images/web2/input_bg_r1_c1.jpg) no-repeat;}
.input em.r{ background:url(../images/web2/input_bg_r1_c5.jpg) no-repeat;}
.input span{ height:25px; overflow:hidden; background:url(../images/web2/input_bg_r1_c3.jpg) repeat-x; float:left;}
.input span input{ border:0px; background:none; height:25px; line-height:25px; color:#999; float:left; width:100%; font-size:12px;}
.w140{ width:140px;}

.send_box .send_area .jh .show_area .ok_btn{ float:left; margin-left:10px; display:inline; margin-top:10px;}
.send_box .send_area .jh .show_area .ok_btn a{ background:url(../images/web2/ok.gif) no-repeat; width:50px; height:25px; overflow:hidden; color:#fff; font-size:14px; line-height:25px; text-align:center; display:block; line-height:27px\9;}
.send_box .send_area .jh .show_area .error{ float:left; margin-top:10px; color:#FF0000; margin-left:10px; display:inline;}

.send_box .send_area .jh .show_area .load_error{ float:left; margin-top:10px; color:#FF0000; margin-left:10px; display:inline; margin-top:20px;}


.send_box .send_area .jh .show_area .upload{ float:left; margin-top:13px; margin-left:10px; display:inline;position:relative}
.send_box .send_area .jh .show_area .upload input{width:80px;height:30px}  
.send_box .send_area .jh .show_area .upload .btn_file_molding{position:absolute;left:0;top:0;z-index:1;border:0 none;filter:alpha(opacity=0);opacity:0; cursor:pointer;}/*file的z-index要大于button*/ 
.send_box .send_area .jh .show_area .upload a{ background:url(../images/web2/upload_btn.gif) no-repeat; width:80px; height:30px; color:#fff; font-size:14px; text-align:center;  line-height:30px;line-height:32px\9; display:block;}
.send_box .send_area .jh .show_area .ts{ float:left; margin-top:10px; margin-left:10px; color:#999; width:260px; display:inline;}


.show_area .upload_ok{ width:252px; height:auto; overflow:hidden; float:left; margin-left:14px; margin-top:10px; display:inline;}
.show_area .upload_ok em{ float:left; color:#ccc;}
.show_area .upload_ok em a{color:#3E8BD9;}
.show_area .upload_ok em a:hover{text-decoration:underline;}
.show_area .upload_ok span{ float:right; color:#666;}
.show_area .upload_ok span a{ background:url(../images/web2/close_btn1.gif) no-repeat; width:13px; height:13px; overflow:hidden; margin-top:2px; display:block;}

.show_area .upload_ok .img{ padding-bottom:4px; width:252px; overflow:hidden; height:auto; margin-top:10px; float:left;}






.jz_list{ width:100%; float:left; overflow:hidden; height:auto;}
.jz_list .title{ background:url(../images/web2/list_title_bg.jpg) repeat-x; height:55px; padding-left:15px;}

.jz_list .select_menu{ width:100px; height:28px; float:left; position:relative; z-index:40; margin-right:10px; margin-top:11px;}
.jz_list .select_menu p{ float:left;}
.jz_list .select_menu p a{ width:90px; height:28px; display:block; background:url(../images/web2/select_list_head.gif) no-repeat; line-height:28px; line-height:30px\9; color:#666; padding-left:12px; text-decoration:none;}
.jz_list .select_menu p a:hover{ background:url(../images/web2/select_list_head_hover.gif) no-repeat;}
.jz_list .select_active p a{ background:url(../images/web2/select_list_head_active.gif) no-repeat;}
.jz_list .select_active p a:hover{background:url(../images/web2/select_list_head_active.gif) no-repeat;}

.jz_list .select_menu .select_box{ display:none; position:absolute;top:28px; left:0; z-index:30;}
.jz_list .select_menu span{ background:url(../images/web2/select_list_span_bg.gif) repeat-y; padding:4px 5px; float:left; width:90px; height:auto; overflow:hidden;  }
.jz_list .select_menu span a{ width:85px; height:26px; overflow:hidden; display:block;line-height:28px; line-height:30px\9; color:#666;text-decoration:none; padding-left:7px;}
.jz_list .select_menu span a:hover{background:url(../images/web2/select_list_span_a.gif) no-repeat;}
.jz_list .select_menu span a.selected{background:url(../images/web2/select_list_span_a_active.gif) no-repeat; color:#fff;}
.jz_list .select_menu span a.selected:hover{background:url(../images/web2/select_list_span_a_active.gif) no-repeat; color:#fff;}
.jz_list .select_menu em{ background:url(../images/web2/select_list_span_bottom.gif) no-repeat; width:100px; overflow:hidden; height:1px; float:left; display:block;}
.jz_list .select_active .select_box{ display:block;}
.jz_list .select_active em{ display:block;}









.jz_list .title .category{ float:right; margin-right:10px; display:inline; margin-top:12px;}
.jz_list .title .category span{ float:left;}
.jz_list .title .category span p{ width:1px; height:23px; margin-top:1px; float:left;}
.jz_list .title .category span a{ padding-left:10px; padding-right:10px; height:25px; color:#666; display:block; float:left; line-height:25px; line-height:27px\0;}
.jz_list .title .category span a:hover{ color:#3E8BD9;}
.jz_list .title .category .act p{ background:#d8d8d8;}
.jz_list .title .category .act a{ background:#d8d8d8; font-weight:bold; cursor:default;}
.jz_list .title .category .act a:hover{ background:#d8d8d8; font-weight:bold; cursor:default; color:#666;}




.jz_main .boy .face_infor a{ color:#3E8BD9;}
.jz_main .girl .face_infor a{ color:#f69;}
.jz_main .hover .wtg .keep{ display:inline;}
.jz_main .hover .wtg .zfa{ display:inline;}

.jz_list .jz_main{ width:620px; height:auto; overflow:hidden; margin:0 auto; margin-top:15px;}
.jz_main .jz_item{ width:100%; height:auto; overflow:hidden; padding-bottom:20px;}

.jz_main .face_infor{ width:120px; height:auto; overflow:hidden; float:left;}
.jz_main .face_infor p{ width:120px; height:120px; overflow:hidden; padding-bottom:5px;}
.jz_main .face_infor a{ font-weight:bold; float:left;}
.jz_main .face_infor span{ width:100%; float:left; line-height:110%; color:#999;}


.jz_main .wtg{ float:right; width:488px; height:auto; display:block;}
.jz_main .wtg .w_t{ background:url(../images/web2/item_wtg_r1_c2.jpg) no-repeat; height:8px; overflow:hidden; width:100%; float:left;}
.jz_main .wtg .w_b{ background:url(../images/web2/item_wtg_r6_c2.jpg) no-repeat; height:8px; overflow:hidden; width:100%; float:left;}
.jz_main .wtg .w_m{ background:url(../images/web2/item_wtg_r4_c2.jpg) repeat-y; display:block;  min-height:94px; _height:94px; width:458px; float:left; position:relative; padding:5px 15px;}
.jz_main .wtg .w_m .arrow{ position:absolute; background:url(../images/web2/item_wtg_r2_c1.jpg) no-repeat; width:8px; height:12px; overflow:hidden; left:-6px; top:0px;}
.jz_main .wtg .w_m p{ float:left; width:100%; line-height:25px; color:#8F8F8F; font-size:14px;}
.jz_main .wtg .w_m p font{ color:#ccc; font-size:12px; margin-right:5px;}
.jz_main .wtg .w_m p a{ color:#8F8F8F;}
.jz_main .wtg .w_m p a:hover{ text-decoration:underline;}
.jz_main .wtg .w_m .infor{ float:left; width:100%; margin-top:10px;}
.jz_main .wtg .w_m .infor span{ color:#ccc; height:16px; float:left; margin-right:8px; display:inline;}
.jz_main .wtg .w_m .infor span.time{ background:url(../images/web2/wtg_icon_r1_c4.jpg) no-repeat; padding-left:18px;}
.jz_main .wtg .w_m .infor span.adress{ background:url(../images/web2/wtg_icon_r1_c1.jpg) no-repeat; padding-left:18px;}
.jz_main .wtg .w_m .infor span.link{ background:url(../images/web2/wtg_icon_r1_c6.jpg) no-repeat;  padding-left:18px;}
.jz_main .wtg .w_m .infor span a{ color:#ccc; text-decoration:underline;}
.jz_main .wtg .w_m .infor span a:hover{color:#3E8BD9;}
.jz_main .wtg .w_m .infor .img{ float:left; width:100%; margin-top:10px;}

.jz_main .wtg .keep{ float:left; margin-top:10px; margin-left:5px; display:none;}
.jz_main .wtg .keep a{ background:url(../images/web2/wtg_btn_r5_c2.jpg) no-repeat; padding-left:20px; color:#999;}
.jz_main .wtg .keep a:hover{ background:url(../images/web2/wtg_btn_r2_c1.jpg) no-repeat; color:#3E8BD9;}
.jz_main .wtg .keep .done{background:url(../images/web2/wtg_btn_r2_c1.jpg) no-repeat; color:#999; }
.jz_main .wtg .keep .done:hover{color:#999;}

.jz_main .wtg .zfa{ float:right; margin-right:10px;  margin-top:15px; display:none;}
.jz_main .wtg .zfa a{color:#3E8BD9; }
.jz_main .wtg .zfa a:hover{text-decoration:underline;}

.jz_main .wtg .btn{ float:right; margin-right:5px; margin-top:10px; display:inline;}
.jz_main .wtg .btn .message{ float:left; margin-right:10px;}
.jz_main .wtg .btn .message a{ background:url(../images/web2/message_btn.gif) no-repeat; width:55px; height:23px; overflow:hidden; text-align:center; color:#fff; line-height:23px; line-height:25px\9; line-height:27px\0; display:block;}
.jz_main .wtg .btn .like{ float:left;}
.jz_main .wtg .btn .like span{ width:2px; overflow:hidden; height:23px; float:left;}
.jz_main .wtg .btn .like span.l{ background:url(../images/web2/wtg_btn_r1_c12.jpg) no-repeat;}
.jz_main .wtg .btn .like span.r{ background:url(../images/web2/wtg_btn_r1_c16.jpg) no-repeat;}
.jz_main .wtg .btn .like a{ background:url(../images/web2/wtg_btn_r1_c14.jpg) repeat-x; padding-left:8px; padding-right:8px; float:left; display:block; height:23px; color:#fff; line-height:23px; line-height:25px\0; }

.jz_main .wtg .btn .done span.l{ background:url(../images/web2/like_done_r1_c1.jpg) no-repeat;}
.jz_main .wtg .btn .done span.r{ background:url(../images/web2/like_done_r1_c5.jpg) no-repeat;}
.jz_main .wtg .btn .done a{  color:#fff; background:none; background:#999; cursor:default;}



.jz_main .none{ width:100%; text-align:center; margin-top:100px; padding-bottom:100px; float:left; color:#666;}

.jz_main .unjoin{ width:100%;  margin-top:100px;float:left; }
.jz_main .unjoin p{ float:left; width:100%;color:#666;text-align:center;}
.jz_main .unjoin a{ float:right; color:#3E8BD9; display:inline; margin-top:90px; padding-bottom:15px;}




.right_title{ width:250px; margin:0 auto; overflow:hidden; margin-top:15px; height:auto; }
.right_title h2{ float:left; font-size:14px; font-weight:bold; color:#666;}
.right_title a{color:#3E8BD9; float:right;}

.idea{width:250px; margin:0 auto; overflow:hidden; margin-top:3px; height:auto; padding-bottom:10px;}
.idea ul{ float:left;}
.idea ul li{ width:100%; float:left; overflow:hidden; border-bottom:1px dashed #E5E5E5; padding-bottom:7px; margin-top:7px;}
.idea ul li p{ width:250px; float:left; color:#999; line-height:180%; padding-bottom:5px;}
.idea ul li p a{ color:#999;}
.idea ul li p a:hover{ text-decoration:underline;}
.idea ul li .img{ float:left; padding-bottom:7px;}
.idea ul li span{ float:left; color:#ccc; white-space:nowrap;}
.idea ul li span a{color:#3E8BD9; font-family:Tahoma; font-size:11px;}
.idea ul li span a:hover{ text-decoration:underline;}


.idea ul li .zfa{ float:right; margin-top:3px; margin-right:5px; display:none;}

.idea ul li .zfa a{color:#3E8BD9;}
.idea ul li .zfa a:hover{ text-decoration:underline;}
.idea ul li .send,.idea ul li .sending,.idea ul li .sended{ float:right;}
.idea ul li .send a{ background:url(../images/web2/like_btn1.gif) no-repeat; width:60px; height:23px; overflow:hidden; line-height:23px; display:block; color:#fff; text-align:center; line-height:25px\0;}
.idea ul li .sending a{background:url(../images/web2/like_btn.gif) no-repeat; width:60px; height:23px; overflow:hidden; line-height:23px; display:block; color:#B6B6B6; text-align:center; line-height:25px\0; cursor:default;}
.idea ul li .sended a{background:url(../images/web2/like_btn.gif) no-repeat; width:60px; height:23px; overflow:hidden; line-height:23px; display:block; color:#B6B6B6; text-align:center; line-height:25px\0; cursor:default;}


.idea ul li.hover .zfa{ display:inline;}
.idea ul li.bn{ border:none;}


.new_member{width:240px; margin:0 auto; overflow:hidden; margin-top:15px; height:auto; padding-bottom:20px;}
.new_member ul{ float:left;}
.new_member ul li{ float:left; width:50px; height:50px; overflow:hidden; margin:5px; margin-bottom:0px; padding-bottom:5px; display:inline;}
.new_member .yq{ float:right; margin-top:10px;}
.new_member .yq a{ color:#3E8BD9;}
.new_member .yq a:hover{ text-decoration:underline;}

.xts{ width:240px; margin:0 auto; overflow:hidden; margin-top:15px; height:auto; padding-bottom:20px;}
.xts p{ float:left; width:100%; color:#999; font-size:14px; line-height:180%;}

.xts a{ float:right; color:#3E8BD9;}
.xts a:hover{ text-decoration:underline;}