亲爱的用户:
<br />
<br />
感谢您注册拒宅网,请点击以下链接重置您的密码。
<br />
<br />
<a target="_blank" href="http://www.51juzhai.com/passport/resetpwd?token=${code}">http://www.51juzhai.com/passport/resetpwd?token=${code}</a>
<br />
<br />
如果以上链接无法点击，请将上面的地址复制到你的浏览器(如IE)的地址栏。
<br />
<br />
祝您拒宅愉快：）