<div style="width:1200px; height:auto; background:#4991DB; margin:0 auto; padding-top:1px; font-family:'宋体'; font-size:12px; line-height:150%;">
	<div style="width:700px; height:auto; overflow:hidden; margin:0 auto; margin-top:50px;"><!--main begin-->
		<div style="width:698px; height:1px; overflow:hidden; background:#fff; margin-left:1px; float:left; display:inline;"></div>
		<div style=" width:620px; height:auto; overflow:hidden; background:#fff; float:left; padding:40px;"><!--main_m begin-->
			<div class="user">
				<span style="width:620px; float:left; color:#666; font-size:16px; font-family:'微软雅黑','宋体';">HI,${profile.nickname}！</span>
				<span style="float:left; float:left; color:#666; font-size:14px; margin-top:15px; width:620px;">周末快到了，不要太宅哦！看看下面有没有你感兴趣的拒宅活动！</span>
			</div>
			<div style=" width:620px; height:30px; overflow:hidden; margin-top:30px; float:left;">
				<em style="width:1px; height:28px; background:#F8E69E; float:left; margin-top:1px; overflow:hidden;"></em>
				<span style="width:618px; height:30px; background:#F8E69E; float:left; text-align:center; color:#666; line-height:30px;">近期你的好友更新了<span style="color:#4286D7; margin:auto 5px; font-weight:bold;">${feedCount}</span>条拒宅计划</span>
				<em style="width:1px; height:28px; background:#F8E69E; float:left; margin-top:1px; overflow:hidden;"></em>
			</div>
			
			<div style="width:620px; height:auto; overflow:hidden; float:left; margin-top:6px;"><!--message_list begin-->
				#foreach($feed in $feedList)
					<div style="width:590px; height:80px; background:#FAFAFA; padding:15px; float:left; margin-top:1px; position:relative;"><!--item begin-->
						<div style="width:80px; height:80px; overflow:hidden; float:left; margin-right:15px; display:inline;"><img src="${feed.profileCache.logoPic}" width="80" height="80"/></div>
						<span style="float:left; font-size:14px; font-weight:bold; margin-top:15px; padding-bottom:15px; width:80%; "><span style="color:#336AAE; float:left;">${feed.profileCache.nickname}</span><span style="color:#666; float:left; margin-left:10px; display:inline;">想和你去</span><b style="color:#333; float:left; margin-left:10px; display:inline;">${feed.act.name}</b></span>
						<em style="float:left; color:#999; white-space:nowrap; font-style:normal;">ta在#if($feed.profileCache.cityName && $feed.profileCache.cityName != "")${feed.profileCache.cityName}#else地球#end</em>
						<strong style="position:absolute; right:15px; top:10px; color:#ccc; font-family:Tahoma; font-size:11px;">${feed.dateFormat}</strong>
					</div><!--item end-->
					<div style="width:620px; height:1px; background:#F5F5F5; overflow:hidden; float:left; margin-top:1px;"></div>
				#end
			</div><!--message_list end-->
			<div style="width:620px; float:left; margin-top:5px; "><a href="#if(!$tp)http://www.51juzhai.com#else${tp.appUrl}#end" style="float:right; color:#336AAE;  margin-right:5px; display:inline; text-decoration:none;">查看更多&gt;&gt;</a></div>
			<div style="width:620px; height:30px; overflow:hidden; margin-top:30px; float:left;">
				<em style=" width:1px; height:28px; background:#C8DEF4; float:left; margin-top:1px; overflow:hidden;"></em>
				<span style="width:618px; height:30px; background:#C8DEF4; float:left; text-align:center; color:#666; line-height:30px; font-size:14px;">本周热门拒宅推荐</span>
				<em style=" width:1px; height:28px; background:#C8DEF4; float:left; margin-top:1px; overflow:hidden;"></em>
			</div>
			<div style=" width:180px; height:auto; overflow:hidden; margin-top:5px; float:right; margin-right:1px;"><!--ph begin-->
				<span style="font-size:12px; color:#999; font-weight:bold; padding-top:10px; padding-bottom:5px; float:left;">男女拒宅排行榜</span>
				<ul style="float:left; list-style: none; padding: 0; margin: 0; ">
					#foreach($act in $actCharts_1)
						<li style=" width:180px; height:30px; float:left; margin-top:5px; overflow:hidden; white-space:nowrap;">
							<div style="width:30px; height:30px; float:left;"><span style="background:#FFD1B2; width:1px; height:28px; overflow:hidden; float:left; margin-top:1px;"></span><span style="background:#FFD1B2; color:#CC6600; width:28px; height:30px; float:left; text-align:center; line-height:30px; font-family:Arial; font-size:10px;">1</span><span style="background:#FFD1B2; width:1px; height:28px; overflow:hidden; float:left; margin-top:1px;"></span></div>
							<div style="float:left; margin-left:5px; "><span style="background:#FFD1B2; width:1px; height:28px; overflow:hidden; float:left; margin-top:1px;"></span><a href="#" style="background:#FFD1B2; color:#CC6600; width:143px; height:30px; float:left; text-align:center; line-height:30px; text-decoration:none;">${act.name}</a><span style="background:#FFD1B2; width:1px; height:28px; overflow:hidden;  float:left; margin-top:1px;"></span></div>
						</li>
					#end
				</ul>
			</div><!--ph end-->
			<div style="width:180px; height:auto; overflow:hidden; margin-top:5px; margin-left:1px; display:inline;  float:left"><!--ph begin-->
				<span style=" font-size:12px; color:#999; font-weight:bold; padding-top:10px; padding-bottom:5px; float:left;">男性拒宅排行榜</span>
				<ul style="float:left; list-style: none; padding: 0; margin: 0;">
					#foreach($act in $actCharts_2)
						<li style=" width:180px; height:30px; float:left; margin-top:5px; overflow:hidden; white-space:nowrap;">
							<div style="width:30px; height:30px; float:left;"><span style=" background:#C8DEF4; width:1px; height:28px; overflow:hidden; float:left; margin-top:1px;"></span><span style="background:#C8DEF4; color:#4991DB; width:28px; height:30px; float:left; text-align:center; line-height:30px; font-family:Arial; font-size:10px;">1</span><span style=" background:#C8DEF4; width:1px; height:28px; overflow:hidden; float:left; margin-top:1px;"></span></div>
							<div style="float:left; margin-left:5px; "><span style=" background:#C8DEF4; width:1px; height:28px; overflow:hidden; float:left; margin-top:1px;"></span><a href="#" style="background:#C8DEF4; color:#4991DB; width:143px; height:30px; float:left; text-align:center; line-height:30px; text-decoration:none;">${act.name}</a><span style=" background:#C8DEF4; width:1px; height:28px; overflow:hidden;  float:left; margin-top:1px;"></span></div>
						</li>
					#end
				</ul>
			</div><!--ph end-->
			<div style="float:left; margin-left:39px; display:inline; width:180px; height:auto; overflow:hidden; margin-top:5px;"><!--ph begin-->
				<span style="font-size:12px; color:#999; font-weight:bold; padding-top:10px; padding-bottom:5px; float:left;">女性拒宅排行榜</span>
				<ul style="float:left; list-style: none; padding: 0; margin: 0;">
					#foreach($act in $actCharts_0)
						<li style=" width:180px; height:30px; float:left; margin-top:5px; overflow:hidden; white-space:nowrap;">
							<div style="width:30px; height:30px; float:left;"><span style=" background:#FFD1D1; width:1px; height:28px; overflow:hidden; float:left; margin-top:1px;"></span><span style="background:#FFD1D1; color:#FF6699; width:28px; height:30px; float:left; text-align:center; line-height:30px; font-family:Arial; font-size:10px;">1</span><span style=" background:#FFD1D1; width:1px; height:28px; overflow:hidden; float:left; margin-top:1px;"></span></div>
							<div style="float:left; margin-left:5px; "><span style=" background:#FFD1D1; width:1px; height:28px; overflow:hidden; float:left; margin-top:1px;"></span><a href="#" style="background:#FFD1D1; color:#FF6699; width:143px; height:30px; float:left; text-align:center; line-height:30px; text-decoration:none;">${act.name}</a><span style=" background:#FFD1D1; width:1px; height:28px; overflow:hidden;  float:left; margin-top:1px;"></span></div>
						</li>
					#end
				</ul>
			</div><!--ph end-->
		</div><!--main_m end-->
		<div style="width:698px; height:1px; overflow:hidden; background:#fff; margin-left:1px; float:left; display:inline;"></div>
	</div><!--main over-->
	<div style="margin:0 auto; margin-top:10px; width:700px; height:auto; overflow:hidden; padding-bottom:10px;"><a href="http://www.51juzhai.com/unsubEmail?token=${token}&uid=${profile.uid}"  style="color:#DBE9F8; float:left; margin-left:10px; display:inline; font-size:14px; text-decoration:none;">不再接收拒宅消息</a><a href="http://www.51juzhai.com"  style="color:#CCC; float:right; margin-right:10px; display:inline;text-decoration:none; font-family:Arial;">51juzhai.com</a></div>
</div>